<!-- nav -->
<!-- NAVBAR Image and text -->
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://carolynnyoehome.files.wordpress.com/2021/09/haf02-7.gif" class="me-2" height="20" alt="MDB Logo"
        loading="lazy" />
      <small>Tasks</small>
    </a>
  </div>
</nav>



<!-- newtask -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="https://cdn.dribbble.com/users/4241563/screenshots/11874468/media/7796309c77cf752615a3f9062e6a3b3d.gif"
        alt="">
    </div>
    <div class="col-6 mt-5">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Edit Task</span>
        <input [(ngModel)]="task.title" name="id" type="text" class="form-control bg-light" placeholder="Enter">
      </div>

      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Edit Note</span>
        <input [(ngModel)]="task.note" name="note" type="text" class="form-control bg-light" placeholder="Enter">
      </div>

      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Edit Section</span>
        <div class=" input-group flex-nowrap">
          <select [(ngModel)]="task.GroupId" name="GroupId" class="form-control bg-light">
            <option selected hidden disabled>select</option>
            <option [value]="grp.id" *ngFor="let grp of groups">{{grp.name}}</option>

          </select>
        </div>

      </div>

      <button (click)="updateTask()" type="button" class="btn btn-outline-dark m-3"
        data-mdb-ripple-color="dark">Submit</button>
      <br>
      <button type="button" routerLink="/" class="btn btn-primary btn-sm m-3">Back</button>


    </div>
  </div>
</div>

<!-- footer -->
<footer class="text-center text-white " style="background-color: #268ee2;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://Mytask.com/">MYTask.com</a>
  </div>
  <!-- Copyright -->
</footer>