<!-- NAVBAR Image and text -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="https://carolynnyoehome.files.wordpress.com/2021/09/haf02-7.gif"
          class="me-2"
          height="20"
          alt="MDB Logo"
          loading="lazy"
        />
        <small>Tasks</small>
      </a>
    </div>
  </nav>



<!-- main -->

<div class="container">
    <div class="row justify-content-center">
        <img style="height: 500px; width: 800px;" src="https://cdn.dribbble.com/users/718859/screenshots/3267029/jisunpark_404-error.gif" alt="">
    </div>
</div>


<!-- footer -->
<footer class="text-center text-white " style="background-color: #2c78b6;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://Mytask.com/">MYTask.com</a>
  </div>
  <!-- Copyright -->
</footer>



