<!-- newnav -->

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://carolynnyoehome.files.wordpress.com/2021/09/haf02-7.gif" class="me-2" height="20" alt="MDB Logo"
        loading="lazy" />
      <small>Tasks</small>
    </a>
    <form class="d-flex input-group w-auto">
      <input (keyup)="search($event)" type="search" class="form-control rounded mx-2 bg-light" placeholder="Search Task" aria-label="Search"
        aria-describedby="search-addon" />
      <button class="btn btn-outline-dark mx-3" type="button" routerLink="newTask" data-mdb-ripple-color="light">
        New Task
      </button>
    </form>
  </div>
</nav>


<!-- mainpage -->
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="https://cdn.dribbble.com/users/4241563/screenshots/11874468/media/7796309c77cf752615a3f9062e6a3b3d.gif"
        alt="" />
    </div>
    <div class="col-6 mt-5">

      <div *ngIf="(allTasks|filter:searchkey:'id') as result" class="div">
        <h2 class="text-center" *ngIf="result.length == 0">No Task Found.</h2>
        </div>


      <div class="card shadow  mb-4 bg-white rounded" *ngFor="let task of allTasks |filter:searchkey:'title'">
        <ol class="list-group list-group">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">🆃🅰🆂 🅺  |  {{task.title}}</div>
              Note: {{task.note}}
            </div>
            <!-- view -->
            <span class="fs-3">
              <a routerLink="/mainPage/viewTask/{{task.id}}">
                <i class="fa-solid fa-eye"></i>
              </a>
            </span>
                   <!-- edit -->
            <span class="fs-3 mx-3">
              <a routerLink="/mainPage/editTask/{{task.id}}">
                <i class="fa-solid fa-pen"></i>
              </a>
            </span>
                   <!-- delete -->
            <button (click)="deleteTask(task.id)" style="border: none; text-decoration: none;" class="fs-3 mx-1">
              <a href="">
                <i class="fa-solid fa-trash"></i>
              </a>
            </button>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<footer class="text-center text-white " style="background-color: #2c78b6;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://Mytask.com/">MYTask.com</a>
  </div>
  <!-- Copyright -->
</footer>