<!-- nav -->
<!-- NAVBAR Image and text -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://carolynnyoehome.files.wordpress.com/2021/09/haf02-7.gif" class="me-2" height="20"
                alt="MDB Logo" loading="lazy" />
            <small>Tasks</small>
        </a>
    </div>
</nav>



<!-- newtask -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://cdn.dribbble.com/users/4241563/screenshots/11874468/media/7796309c77cf752615a3f9062e6a3b3d.gif"
                alt="">
        </div>
        <div class="col-6 mt-5">
            <div class="card">

                <ol class="list-group list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">🆃🅰🆂 🅺 | {{task.title}} </div>
                        Note:     {{task.note}}
                        <p>Section:  {{groupName}}</p>
                      </div>

                    </li>
                  </ol>

            </div>


            <br>

            <button type="button" routerLink="/" class="btn btn-primary btn-sm m-3">Back</button>
        </div>
    </div>

</div>


<!-- footer -->
<footer class="text-center text-white " style="background-color: #2c78b6;">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://Mytask.com/">MYTask.com</a>
    </div>
    <!-- Copyright -->
  </footer>



